@charset "UTF-8";
  

p.title{
     font-size: 30pt;
     text-align: center;
}

p.stage{
     font-size: 20pt;
     text-align: center;
}

p.blank{
     font-size: 100pt;
}

div{
     text-align: center;
}